{% extends "base.html" %}
{% block content %}
<h2>Dateien im Ordner: {{ '/' if folder=='' else folder }}</h2>
<p><a href="{{ url_for('home') }}">← Zurück zur Ordnerliste</a></p>
{% if files %}
  <ul>
  {% for f in files %}
    <li>
      <a href="{{ url_for('pdf_viewer', filename=f) }}">{{ f.split('/')[-1] }}</a>
      &nbsp;|&nbsp;
      <a href="{{ url_for('download', filename=f) }}">Herunterladen</a>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>Keine Dateien in diesem Ordner verfügbar.</p>
{% endif %}
{% endblock %}
